@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
/*pre definições*/
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
:root {
    /* Hue da HSL */
    --hue-color: 195;
    --hue-acentua: calc(var(--hue-color) + 30);
    --hue-diminui: calc(var(--hue-color) - 30);
    --acentua: hsl(var(--hue-acentua), 100%, 50%);
    --diminui: hsl(var(--hue-diminui), 100%, 30%);
    --tamanho: 400px;
    /* HSL variaveis padrao */
    --fundo: hsl(var(--hue-color), 48%, 12%);
    --clara: hsl(var(--hue-color), 50%, 70%);
    --primeiratransparente: hsla(var(--hue-color), 100%, 50%, 50%);
    --primeira: hsl(var(--hue-color), 100%, 50%);
    --segunda: hsl(var(--hue-color), 50%, 50%);    
    --terceira: hsl(var(--hue-color), 50%, 20%);
    --light1: hsl(var(--hue-color), 50%, 30%);
    --light2: hsl(var(--hue-color), 60%, 40%);    
    --light3: hsl(var(--hue-color), 70%, 50%);

    --dark1: hsl(var(--hue-color), 50%, 30%);
    --dark2: hsl(var(--hue-color), 50%, 40%);    
    --dark3: hsl(var(--hue-color), 50%, 50%);

    --scrollbar-color: hsl(var(--hue-color), 12%, 90%);
    --scrollthumb-color: hsl(var(--hue-color), 12%, 80%);
    /*========== Fonte e tipografia ==========*/
    --familia: 'Poppins', sans-serif; ;
    --grande: 1.3rem;
    --media: 1rem;
    --pequena: 0.8rem;
    /*========== weight peso var ==========*/
    --medium: 400;
    --semi-bold: 600;
    --bold: 900;
    /*borda*/
    --arredonda: 0.5rem;
}
html {
  height: -webkit-fill-available;
}
body{
    min-height: 100vh;
    min-height: -webkit-fill-available;
    font-family: var(--familia);
    font-weight: 400;
    overflow: hidden;
    font-size: 0.9rem;
    overflow-x: clip;
    overflow-y: clip;
    cursor: auto;
    width: 100%;
}
h1{
    font-size: var(--grande);
    font-weight: 400;
}
h2{
    font-size: var(--media);
    font-weight: 400;
}
h3{
    font-size: var(--pequena);
    font-weight: 400;
}
a{
  color: var(--terceira);
}
a:hover{
  color: var(--primeira);
}

.pad1{
  padding: 1rem;
}
.horiz{
    align-items: center;
}
.flex{
    display: flex;
}
.flexcentraliza{
  display: flex;
  align-items: center;
  justify-content: center;
}
.ml5{
  margin-left: 0.5rem;
}
.mb1{
    margin-bottom: 1rem;
}
.mt1{
    margin-top: 1rem;
}
.w100{
  width: 100%;
}
.fs15{
  font-size: 1.5rem;
}
.metade{
  width: 50%;
  align-items: center;
  display: flex;
  padding: 0.5rem;
}
.glass{
    background: rgba( 255, 255, 255, 0 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
}
.texto-light{
    color: black;
}
.texto-dark{
    color: white;
}
.diminui{
  transform: scale(0.6) translateY(-90px);
}
.diminui-janela{
  transform: scale(0.3);
}
.diminui-janela:hover{
  transform: scale(0.3);
}
.titulo-header{
  margin-top: 10px;
  margin-left: -15px;
}
.uil{
	color: var(--primeira);
	margin-right: 0.5rem;
}
.lateral{
  padding: 0 20px;
}

// Cabeçalho
.cabecalho{
  height: 2rem;
  background: rgba( 255, 255, 255, 0 );
  box-shadow: 0 8px 50px 0 rgba(0, 0, 0, 0.3);
  backdrop-filter: blur( 5px );
  -webkit-backdrop-filter: blur( 5px );
  border-bottom: 1px solid rgba( 255, 255, 255, 0.18 );
  z-index: 100;
  position: absolute;
  width: 100%;
  top: 0;
}
.ajustecor{
  width: 3rem;
  height: 2rem;
  justify-content: center;
  align-items: center;
  background-color: rgba(125, 125, 125, 0.5);
  display: flex;
}
.luzicone{
  fill: var(--primeira);
  width: 1.5em;
  height: 1.5rem;
}
.seletordecor{
  width: 100%;
  height: 2rem;
}
input[type="range"] {
  width: 100%;
  height: 2rem;
  margin: 0;
  border: none;
  outline: none;
  cursor: grab;
}
input[type="range"] { 
  width: 100%;
  height: 2rem;    
  -webkit-appearance: none;
  position: relative;
  overflow: hidden;    
  background: transparent;    

  border-radius: 0;
}
::-webkit-slider-runnable-track {
  background: transparent;
}
::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1rem;
  height: 2rem;
  box-shadow: -100vw 0 0 100vw rgba(121, 121, 121, 0.5);
  background-color: var(--primeira);
}
::-moz-range-track {
  height: 2rem;
}
::-moz-range-thumb {
  height: 2rem;
  width: 1rem;
  border-radius: 0 !important;
  box-shadow: 0vw 0 0 0vw rgb(49, 255, 30);
  box-sizing: border-box;
  background: transparent;
}

::-ms-fill-lower { 
  background: transparent;
}
::-ms-thumb { 
  background: black;
  border: 2px solid #999;
  height: 2rem;
  width: 1rem;
  box-sizing: border-box;
}
::-ms-ticks-after { 
  display: none; 
}
::-ms-ticks-before { 
  display: none; 
}
::-ms-track { 
  background: transparent;
  color: transparent;    
  height: 2rem;
}
::-ms-tooltip { 
  display: none;
}
.theme-switch {
  width: 40px;
  height: 10px;
  position: relative;
  background: #b0afaf;
  border-radius: 1rem;
  align-items: center;
  display: flex;
  margin-left: 1rem;
  margin-right: 1rem;
} 
.theme-switch-on {
  background: #1bc67c;
}   
.switch {
  width: 20px;
  height: 20px;
  background: linear-gradient(rgb(105, 105, 105), #313131);
  position: absolute; 
  border-radius: 50px;
  transform: translateX(20px);
  cursor: grab;
}
.switch-on{
  transform: translateX(-10px);
  background: linear-gradient(#fff, #e3e7e7);
}
.relogiotop{
  font-size: 0.8rem;
  text-align: right;
  min-width: max-content;
  padding-left: 0.5rem;
  padding-right: 1.5rem;
}
.menumobile{
  display: none;
}

/*janela*/
.btn-fechar{
  width: 1rem;
  height: 1rem;
  display:block;
  float: left;
  background-color: #ff635a ;
  border-radius: 1rem;
  margin-top: 0.25rem;
  position: absolute;
  left: 1rem;
  cursor: pointer;
  border: solid 1px rgba(128, 128, 128, 0.3);
}
.btn-fechar:hover{
  background-color: #db6e68 ;
}
.iconetab{
  height: 25px;
  width: 25px;
  vertical-align: middle;
  margin: 0.25rem;
}
.header-transp{
  height: 3rem;
}
.cartao{
  max-height: 80vh;
  max-width: 750px;
  border-radius: var(--arredonda);
  display: flex;
  flex-direction: column;
  padding: 0rem 1rem;
  overflow: hidden;
  align-items: center;
  width: inherit;
  box-shadow: 0px 5px 20px 1px rgba(105, 105, 105, 0.4);
  visibility: hidden;
  opacity: 0;
  transform: translate(1000px);
  background-color: #ffffff48;
}
.cartao-dark{
  background-color: #00000048;
}
.cartaodentro{
  flex-direction: column;
  border-radius: 0.5rem;
  width: 100%;
  height: 100%;
  overflow-x:hidden;
  position: inherit;
  height: fit-content;
  text-align: center;
  background-color: #ffffff48;
}
.cartaodentro-dark{
  background-color: #00000048;
}
.center{
  position: absolute;
  width: 100%;
  justify-content: center;
  margin: auto;
  transform: scale(0);
}
.conteudo{
  position: relative;
}
.cartaohead{
  z-index: 1;
  text-align: center;
  width: 100%;
  overflow-x: clip;
  display: flex;
  flex-direction: column;
}
.cartaofundo{
  width: 100%;
  height: 160px;
  background-size: cover;
  background-position: center;
  filter: blur(10px);
  background-image: url("/assets/img/fotos/eu-dow.png");
  transform: scale(1.25);
  margin-top: 10px;
}
.ocupa{
  width: 0%;
  height: 100px;
  width: fit-content;
}
.ocupa-on{
  height: 350px;
  width: 500px;
}

// Sobre
.sobre,
.experiencia{
  transform: translate(5999px);
  position: relative;
  display: none;
}
.mostra{
  transform: translate(0px);
  visibility: visible;
  display: inline-block;
}
#age {
  padding: 0.5rem;
  font-size: 0.8rem;
}
.box {
  background: linear-gradient(135deg, var(--segunda) 0%, var(--primeira) 50%, var(--segunda) 100%);
  width: 100%;
  margin-top: 0;
  padding: 0;
  transform: scale(0);
  opacity: 0;
  height: 0px;
  overflow: hidden;
  border-radius: 0.5rem;
  box-shadow: 0px 1px 10px 2px rgba(0, 0, 0, 0.2);
}
.boxhabilidades{
  width: 100%;
  transform: scale(1);
  opacity: 1;
  height: fit-content;
  overflow: hidden;
  box-shadow: 0px 1px 10px 2px rgba(0, 0, 0, 0.1);
  text-align: left;
}
.mostrar {
  opacity: 1;
  padding: 0 1rem 0 1rem;
  transform: scale(1);
  height: fit-content;
  visibility: visible;
  z-index: 2;
  transition: 0.7s ease-in-out;
}
.esconder {
  opacity: 0;
  transform: scale(0);
  height: 0px;
  visibility: hidden;
}
.sociais-ic{
  padding: 0.25rem;
  font-size: 2rem;
  cursor: pointer;
}

.cor{
  color: var(--escura);
}
.cor-dark{
  color: var(--clara);
}

/* Timeline */
#timeline-content {
  margin-top: 50px;
  margin-left: 130px;
  text-align: center;  
}
.desaparece h1{
  background-color: var(--segunda);
  padding: 1rem;
  margin-left: -115px;
  text-align: left;
  font-size: 1.1rem;
  color: white;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
  border-top: 4px solid var(--primeira);
  border-bottom: 4px solid var(--primeira);
}
.timeline {
  text-align: left;
  border-left: 4px solid var(--primeira);
  border-bottom-right-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  position: relative;
  padding: 20px;   
  list-style: none;
  text-align: left;   
}  
.timeline h2 {
  background: var(--primeira);
  padding: 5px;
  color: white;
  border-radius: 5px;
  width: fit-content;
}
.event {
  border-bottom: 1px dashed var(--segunda);
  padding-bottom: 20px;
  margin-bottom: 20px;  
  position: relative;
  margin-right: 80px;
  &:last-of-type { 
    padding-bottom: 0;
    margin-bottom: 0; 
    border: none;      
}
  &:before, &:after {
    position: absolute;
    display: block;
    top: 0;
}
  &:before {
    left: -124px;       
    content: attr(data-date);
    text-align: right;
    font-weight: 400;    
    font-size: 1.1;
    min-width: 50px;
    text-align: left;
	  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
}
  &:after {  
    left: -32px;        
    background: white;    
    border-radius: 50%;  
    height: 20px;
    width: 20px;
    content: "";
    border: 2px solid var(--primeira);
  }
}
.desaparece{
  transform: translateY(-3500px);
  width: 0px;
  position: absolute;
  margin-left: 100px;
  opacity: 0;
  visibility: hidden;
}
.cresce{
  transform: translate(0px);
  width: 100%;
  position: inherit;
  opacity: 1;
  visibility: visible;
  transition: 1s ease-in-out;
}
.abs{
  position: absolute;
}
.botaocinza{
  width: 100%;
  padding: 1rem;
  text-transform:uppercase;
  cursor: pointer;
  font-weight: 600;
  text-align: center;
  font-size: 0.8rem;
  background: linear-gradient(to bottom, #444444 0%,#1c1c1c 100%);
	color: var(--primeira);
  text-shadow: 0px 1px 1px hsla(0, 0%, 100%, 0.2);
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.botaocinza:hover{
  background: linear-gradient(to bottom, #444444 30%,#1c1c1c 100%);
  color: white;
}
.ativa-bt{
	background: linear-gradient(to bottom, #444444 30%,#1c1c1c 100%);
	text-shadow: 0px 2px 2px var(--primeira);
	color: white;
}
.rodapejanela{
  width: 100%;
	min-height: 3rem;
  justify-content: space-around;
  align-items: center;
  border-radius: 0.5rem;
  z-index: 2;
  overflow: hidden;
}
.fotosobre {
  background-image: url("/assets/img/fotos/eu-dow.png");
  background-position: center;
  background-size: cover;
  width: 150px;
  height: 150px;
  filter: brightness(1.2);
  border-radius: 100%;
  margin: auto;
  animation: float 3s ease-in-out infinite;
  margin-top: -8rem;
}
@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 15px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(-3px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(0px);
	}
}
.titulo-nome {
  width: 100%;
  height: 6rem;
	font-size: 3rem;
	display: flex;
	align-items: center;
	justify-content: center;
	mix-blend-mode: screen;

	&.invert {
		span {
			color: black;			
			&::before {
				-webkit-text-stroke: .1em var(--primeira);
			}
		}
	}

	span {
    color: var(--primeira);
		font-family: Impact, 'Anton', 'Arial Narrow Bold', sans-serif;
		font-weight: 700;
		font-style: italic;
		display: block;
		position: absolute;

		&::before, &::after {
			content: attr(data-text);
			display: block;
			position: relative;
			padding: 0 .1em;
			z-index: 1;
		}

		&::before {
			position: absolute;
			-webkit-text-stroke: 5px black;
			z-index: 0;
		}

		&:first-child {
			transform: translate(-.255em, -.25em);
		}

		&:last-child {
      color: var(--acentua);
			transform: translate(.255em, .25em);
		}
	}
}
.cssanimation, .cssanimation span {
  animation-duration: 1s;
  animation-fill-mode: both;
}
.cssanimation span { display: inline-block }

.leRotateSkateInLeft span { animation-name: leRotateSkateInLeft }
@keyframes leRotateSkateInLeft {
  from {
    transform: scaleX(0.2) translateX(-100px);
    opacity: 0;
  }
}

// Ticker

.tagline__container {
  margin-left: -120px;
  width: 115%;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	height: 3em;
	background: var(--segunda);
	$border: 5px solid var(--primeira);
	border-top: $border;
	border-bottom: $border;
}

.tagline {
  margin-top: 2px;
	color: var(--clara);
	font-weight: 400;
	width: 100%;
	font-family: "Press Start 2P", monospace;
	text-align: center;
	font-size: 1.5em;
	margin: 0.25em;
	text-transform: uppercase;
	letter-spacing: 0.25em;
	position: absolute;
	animation: slide 10s infinite linear;

	&:before {
		content: attr(data-title);
		position: absolute;
		left: 100%;
		width: 100%;
		display: inline-block;
	}
}

@keyframes slide {
	0% {
		right: 0%;
	}

	100% {
		right: 99.999%;
	}
}

// Habilidades

.skillscabecalho{
}
.formataskills{
  display: flex;
  align-items: center;
  justify-content: center;
}
span.categoria{
  font-size: var(--pequena);
  font-weight: 400;
  margin: 1rem 0.5rem 1rem 0.5rem;
  background-color: var(--primeiratransparente);
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  border-radius: 0.25rem;
}
.logos{
  width: 2rem;
  height: auto;
  margin-right: 0.5rem;
}
.linha{
  font-size: 0.8rem;
}
.linha:hover{
  background-color: rgba(128, 128, 128, 0.2);
}
.descricao-titulo{
  writing-mode: vertical-lr;
  text-orientation: upright;
  background-color: var(--primeira);
  text-align: center;
  color: white;
  padding: 0.25rem;
  margin-bottom: 1px;
}
.descricao{
  width: 100%;
}
.barradeprogresso{
  background-color: var(--primeira);
  box-shadow: 0 0 5px var(--segunda) inset, 0 0 10px var(--segunda), 0 0 10px var(--segunda), 0 0 3px var(--terceira);
  height: 0.2rem;
}
.justdir{
  justify-content: flex-end;
  margin-right: 2rem;
}

// Serviços

.botaobrowser{
  border: 1px solid grey;
  padding: 0.25rem;
  font-size: 1rem;
  margin-left: 0.25rem;
  border-radius: 0.25rem;
  background-color: rgba(255, 255, 255, 0.3);
}
.enderecoweb{
  font-size: 1rem;
  padding: 0.25rem 1rem 0.25rem 0.5rem;
  border-radius: 1rem;
  width: 100%;
  height: 2rem;
  font-family: 'Roboto', sans-serif;
}
.caixa-servico{
  width: 100%;
  height: 300px;
  background-color: var(--primeiratransparente);
  align-items: center;
  justify-content: center;
  border: 1px solid grey;
}
.caixa-dentro{
  position: absolute;
}
.caixa-dentro h2{
  font-size: 4rem;
}
.caixa-titulo{
  position: absolute;
}
.servico-icone{
  width: 75px;
  height: 75px;
  font-size: 3rem;
  border: 6px solid var(--primeira);
  border-radius: 50%;
  text-align: center;
  position: absolute;
  align-items: center;
  align-content: center;
  justify-content: center;
  display: flex;
  color: var(--primeira);
}
.servico-icone .selecionado{
  top: 2rem;
  font-size: 4rem;
}
.boxserv {
  width: 50%;
  min-width: 250px;
  padding: 1rem;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0,0,0,0.4);
  cursor: pointer;
}

.boxserv .icon-cont {
  border: 6px solid var(--segunda);
  border-radius: 50%;
  width: 75px;
  height: 75px;
  margin: 20px auto;
  display: block; 
  text-align: center;    
  position: absolute;
  top: 10px;
  left: 0px;
  right: 0px;
  z-index: 5;
  align-items: center;
  align-content: center;
  display: flex;
  justify-content: center;    
  box-shadow: 0 0 0 0px rgba(255,255,255,0.5), 0 0 0 0px rgba(3, 108, 129, 0.5);
  transform: scale(1);
}
.boxserv .icon-cont i {
  opacity: 1;
  font-size: 2.5em;
  line-height: 75px;
  color: var(--segunda);
  margin-left: 8px;
}
.boxserv:hover .icon-cont {
  animation: shady 3s linear infinite;
}

@keyframes shady {
  0% {box-shadow: 0 0 0 0px rgba(255,255,255,0.5), 0 0 0 0px rgba(3, 108, 129, 0.5);}
  20% {box-shadow: 0 0 0 100px rgba(255,255,255,0), 0 0 0 0px rgba(3, 108, 129, 0);}
  20.1% {box-shadow: 0 0 0 0px rgba(255,255,255,0.5), 0 0 0 0px rgba(3, 108, 129, 0.5);}
  50% {box-shadow: 0 0 0 0px rgba(255,255,255,0.5), 0 0 0 0px rgba(3, 108, 129, 0.5);}
  70% {box-shadow: 0 0 0 100px rgba(255,255,255,0), 0 0 0 0px rgba(3, 108, 129, 0);}
  70.1% {box-shadow: 0 0 0 0px rgba(255,255,255,0.5), 0 0 0 0px rgba(3, 108, 129, 0.5);}
  100% {box-shadow: 0 0 0 0px rgba(255,255,255,0.5), 0 0 0 0px rgba(3, 108, 129, 0.5);}
}

.boxserv h3 {
  font-weight: 300;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 15px;
  border-bottom: 1px solid rgba(255,255,255,0);    
  position: absolute;
  top: 125px;
  width: 70%;
  left: 10%;
  z-index: 6;
}
.boxserv ul {
  font-size: 0.8rem;
  line-height: 1.5rem;
  margin: 25px;
  list-style-type: disc;
}
.boxserv ul.hidden {
  opacity: 0;
}
.boxserv a.expand {
  width: 2rem;
  height: 2rem;
  background: var(--segunda);
  font-weight: 600;
  display: flex;
  margin: 15px auto 25px;
  cursor: pointer;    
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 10px;
  border-radius: 2rem;
  justify-content: center;
  align-items: center;   
}
.boxserv a.expand span.minus {
  opacity: 0;
  position: absolute;
  color: white;
}
.boxserv a.expand span.plus {
  opacity: 1;
  position: absolute;
  color: white;
}
.boxserv.selected a.expand {
  display: block;
  position: absolute;
  left: 180px;
  right: -29px;
  bottom: -10px;
  width: 190px;
  height: 50px;
  background: var(--segunda);
  transform: rotate(-45deg);
  opacity: 0;
}
.boxserv.selected a.expand span {
  display: block;
  position: absolute;
  top: 4px;
  left: 60px;
  transform: rotate(45deg);
  font-size: 24px;
}
.boxserv.selected a.expand span.minus {
  opacity: 1;
}
.boxserv.selected a.expand span.plus {
  opacity: 0;
}
.boxserv.selected .icon-cont {
  transform: scale(1.5);
  opacity: 0.5;
  position: absolute;
  top: -20px;
  left: -5px;
  right: 180px;
}
.boxserv.selected:hover .icon-cont {
  animation: none;
}
.boxserv.selected h3 {
  padding: 32px 15px 15px 15px;
  border-bottom: 1px solid var(--segunda);    
  width: 70%;
  top: 16px;
  left: 10%;
}
.boxserv.selected ul.hidden {
  opacity: 1;
  margin-top: 130px;
  text-align: left;
}

// PORTFOLIO

.menuportfolio{
  width: 100%;
  max-height: 300px;
  display: block;
  overflow: auto;
}
.logos-port{
  width: 60px;
  height: 30px;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}
.targetdiv{
  display: none;
}
.portfolio-slideshow{
  display: none;
}
.carousel-inner {
  border-radius: 1rem;
}

// CONTATO
.informacoes{
	width: 100%;
  padding: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.listainfo{
  margin-top: 2rem;
  list-style: none;
}
.formulario{
  padding: 1rem;
}
.ctinput{
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  border: solid 1px var(--terceira);
  color: var(--terceira);
  border-radius: 0.5rem;
  background-color: transparent;
  text-shadow: 0px 1px 1px hsla(0, 0%, 0%, 0.3);
}
::placeholder {
  color: var(--terceira);
	opacity: 1;
	text-shadow: 0px 1px 1px hsla(0, 0%, 0%, 0.2);
}
.ctinput-dark{
  border: solid 1px var(--clara);
  color: var(--clara);
}
.botaoform{
  width: 100%;
  height: 1rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform:uppercase;
  cursor: pointer;
  font-weight: 600;
  font-size: 0.8rem;
  background: linear-gradient(to bottom, #444444 0%,#1c1c1c 100%);
  color: var(--primeira);
  text-shadow: 0px 1px 1px hsla(0, 0%, 100%, 0.2);
  border-radius: 0.5rem;
}

/*--Dock--*/
footer {
	bottom: 1rem;
	display: inline-block;
	height: 4.4em;
	left: 50%;
	min-width: 450px;
	padding: 0 10px;
	perspective: 1000px;
	position: absolute;
	text-align: center;
	transform: translatex(-50%);
  z-index: 99;
}

footer:before{
		background: linear-gradient(to top, rgba(230,230,230,1) 0%, rgba(163, 163, 163, 0.5) 100%);
		bottom: 0;
		content: '';
		height: 4em;
		left: 0;
		margin-top: 15px;
		position: absolute;
		right: 0;
		top: 0;
		transform: rotatex(45deg);
		width: 100%;
		z-index: -1;
}
footer ul {
	display: inline-block;
	margin: 0 0.1em;
	padding: 0;
	transform-origin: bottom center!important;
}
footer li {
	display: inline-block;
	vertical-align: top;
	position: relative;
	transform: scale(1.0);
	transform-origin: bottom center;
}
footer li:hover {
    opacity: 1;
}
footer li::before{
		background: var(--terceira);
		border-radius: 12px;
		color: #fff;
		content: attr(data-title);
		display: block;
		float: left;
		font-size: 0.9em;
		left: 50%;
		margin: 2px auto;
		opacity: 0;
		padding: 5px 10px 5px 10px;
		position: absolute;
		text-align: center;
		top: 50px;
		transform: translatex(-50%);
		transform-origin: bottom center!important;
		visibility: hidden;
		width: max-content;
    z-index: -1;
}
footer li:hover:before{
		opacity: 1;
		top: -65px;
		visibility: visible;
}
.jump {
	-webkit-animation: JUMP 600ms 2 cubic-bezier(.4,0.01,.6,.99);
}
@-webkit-keyframes JUMP {
	0% {
		bottom: 0;
	}
	50% {
		bottom: 20px;
		padding-bottom:20px;
	}
	100% {
		bottom: 0;
};}

footer img {
	-webkit-box-reflect: below -5px
  -webkit-gradient(linear, left bottom, left top, color-stop(0%,rgba(230,230,230,0.2)), color-stop(100%,rgba(255,255,255,0)));
	align-items: center;
	bottom: 0;
	display: flex;
	justify-content: center;
	margin: 0 5px;
	position: relative;
	transform: scale(1);
	transform-origin: bottom center!important;
	width: 4rem;
  cursor: pointer;
}
footer img:hover{
    margin: 0 10px;
	transform: scale(1.2);
}

.cssanimation, .cssanimation span {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.cssanimation span { display: inline-block }

.leRotateSkateInLeft span { animation-name: leRotateSkateInLeft }
@keyframes leRotateSkateInLeft {
  from {
      transform: scaleX(0.2) translateX(-100px);
      opacity: 0;
  }
}

//RESPONSIVO

@media screen and (max-width: 700px){
  body{
    font-size: 0.7rem;
  }
  footer {
    display: none;
    height: 2rem;
    bottom: 2rem;
    min-width: max-content;
    overflow: none;
  }
  footer:before{
    height: 1em;
    left: 0;
}  
  footer li:hover:before{
    top: 0px;
}
   
  footer img {
    -webkit-box-reflect: below -5px
    -webkit-gradient(linear, left bottom, left top, color-stop(0%,rgba(230,230,230,0.2)), color-stop(100%,rgba(255,255,255,0)));
    align-items: center;
    bottom: 0;
    display: flex;
    justify-content: center;
    margin: 0 5px;
    position: relative;
    transform: scale(1);
    transform-origin: bottom center!important;
    width: 4rem;
    cursor: pointer;
  }
  h1{
    font-size: 1.1rem;
    }
  h2{
        font-size: 0.9rem;
    }
  h3{
        font-size: 0.8rem;
    }
  .center{
    margin-left: inherit;
    margin-right: inherit;
  }
  .cartao{
      width: 100%;
  }
  .cartaofundo{
    width: 100%;
    height: 130px;
    margin-top: 0px;
  }
  .boxserv {
    width: 100%;
  }
  .botaocinza{
    padding: 1rem;
  }
  .titulo-nome {
    height: 5rem;
    font-size: 2.5rem;
  }  
  .fotosobre {
    width: 120px;
    height: 120px;
    margin-top: -7.5rem;
  }
  .relogiotop {
    display: none;
  }
  .menumobile{
    display:block;
    font-size: 0.8rem;
    margin-left: 1rem;
  }
}
//MENU MOBILE BOOTSTRAP
.dropdown-menu-dark .dropdown-item.active, .dropdown-menu-dark .dropdown-item:active {
  color: #fff;
  background-color: var(--primeira);
}
.btn-secondary {
  color: #fff;
  background-color: var(--primeira);
  border-color: var(--primeira);
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
}
.btn-secondary:hover {
  color: #fff;
  background-color: var(--segunda);
  border-color: var(--segunda);
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
}
.btn-check:focus+.btn-secondary, .btn-secondary:focus {
  color: #fff;
  background-color: var(--segunda);
  border-color: var(--segunda);
}
//gradiente mesh

@keyframes driving {
    0% {
        transform: translateY(-650px);
    }

    100% {
        transform: translateY(0);
    }
}

.hero {
	&__title {
		padding: 2em 5rem 1rem;
		text-align: left;
		position: relative;
		z-index: 1;
		font-size: 0.9rem;
		width: 80%;
		text-shadow: 0px 1px 1px black;
    color: white;
	}
}

// GPS Hero
.gps-bg {
	position: relative;
	perspective: 500px;
	overflow: hidden;

	// The nuts and bolts of making this work
	&__guts {
		position: absolute;
		transform: rotateX(45deg);
		width: calc(100% + 1000px); // This makes extra space to overflow the edges with filled map
		height: 100%;
		left: -500px; // Re-centers the container
	}
	&__bg {
		height: 1300px;
		background-image: url(http://www.rastrac.com/hubfs/roads.svg);
		background-position: 50%;
		background-size: 25%;
		position: absolute;
		top: -162px; // Hide the empty top reset by moving the object up
		width: 100%;
		transform: translateY(-650px);
		animation: driving 10000ms linear 0ms infinite;
		background-blend-mode: overlay;
    background-color: var(--terceira);
}

	&__route {
		width: 2em;
		background-color: white;
		position: absolute;
		top: -162px;
		bottom: -162px;
		left: 60%;
		transform: translateX(-50%);
		&:after {
		content: '';
		width: 60%;
		background-color: var(--primeira);
		position: absolute;
		top: 0;
		bottom: 50%;
		left: 50%;
		transform: translateX(-50%);
		}
	}

}
canvas {
  width: 100%;
  height: 100vh;
  background: linear-gradient(135deg, var(--acentua) 0%, var(--primeira) 50%, var(--diminui) 100%);
}
.canvas-on {
  background: linear-gradient(135deg, var(--acentua) 0%, var(--terceira) 50%, var(--fundo) 100%);
}
.colort{
  color: #40f08371
}
.linkedin, .linkedin1, .github, .github1, .insta, .insta1 {
  width: 100%;
  max-width: 40px;
  cursor: pointer;
  display: inline-flex;
}
path{
  stroke: var(--primeira);
}